{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4 text-center">My Enrolled Courses</h2>

    {% for enroll in enrollments %}
        <div class="card p-3 mb-3 shadow">
            <h5>{{ enroll.course.title }}</h5>
            <p>{{ enroll.course.description }}</p>

            {% if not enroll.completed %}
                <a href="{% url 'complete' enroll.id %}"
                   class="btn btn-success">
                    Mark as Complete
                </a>
            {% else %}
                <span class="badge bg-success">Completed</span>
            {% endif %}
        </div>
    {% empty %}
        <p>No enrolled courses.</p>
    {% endfor %}

</div>

{% endblock %}
