body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Left Side */
.left-panel {
    background: linear-gradient(to bottom right, #667eea, #764ba2);
    height: 100vh;
    color: white;
}


.lms-title {
    font-size: 60px;
    font-weight: 700;
}

.rank-box {
    background: rgba(255,255,255,0.2);
    padding: 20px 40px;
    border-radius: 15px;
}

/* Right Side Login Card */
.login-card {
    width: 420px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 15px 40px rgba(0,0,0,0.15);
}

/* Inputs */
.login-card input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Button */
.login-btn {
    background-color: #ff7e00;
    color: white;
    border-radius: 10px;
    padding: 12px;
    font-weight: 600;
}

.login-btn:hover {
    background-color: #e66b00;
}

/* Forgot link */
.forgot-link {
    text-decoration: none;
    font-size: 14px;
}
